# Build artifacts
build/
*.o
*.obj
*.slo
*.lo
*.d

# Executables
nn
bb
test
*.exe
*.out
*.app

# Libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Precompiled headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Dataset (extracted files)
datasets/mnist/

# Editor
.vscode/
